*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: gilroy;
}
html,body{
    height: 100%;
    width: 100%;
}

.explore-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:50vh;
}

.btn{
    border: none;
    border-radius: 20px;
    padding: 1.5rem 1rem;
    cursor: pointer;
    font-size: 2rem;
    color: cadetblue;
    background-color: rgb(134, 235, 213);
}
a{
    padding: 1.5rem 0.5rem;
    border-radius: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
}

a:hover{
    background-color:rgb(134, 235, 213);
    color:cadetblue ;
} 

/* var tl = gsap.timeline()

tl.from("h2",{
    y:-30,
    opacity:0,
    duration:1,
    delay:0.5
})

tl.from("h4",{
    y:-30,
    opacity:0,
    duration:1,
    stagger:0.3
})

tl.from("h1",{
    y:20,
    opacity:0,
    duration:0.5,
    scale:0.2
}) */

